# Ignore Python cache files
__pycache__/

# Ignore environment file
.env

# Ignore everything inside the data folder
data/*

# Ignore specific log file
output.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

#claude.md
CLAUDE.md
#Ignore .ruff_cache 
.ruff_cache/*